.card
  display block
  margin 1em auto
  padding 0
  background #FFFFFF
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.20)
  color #464646

  &__title
    margin 0
    padding 1em
    font-size 1em
    text-transform uppercase
    line-height 1
    font-weight bold

  &__body,
  &__table
    overflow auto

  // &__table
  //   background #222
  //   color #eee
