body
  font-family 'Roboto', Helvetica Neue, Arial, sans-serif
  font-weight normal
  font-style normal
  line-height 1.45
  background $background-color
  color #444
  font-size 14px

  @media (min-width: 1200px)
    font-size 16px

a
  color $primary-color
  text-decoration none

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-weight normal
  font-style normal
  color inherit

pre
  margin 0
  padding 1em
  width 100%
  font-family 'Monaco', 'Courier New', monospace
  background #232323
  color #eee
  overflow auto
  font-size 0.75em
